body {
	font-family: 'Cantarell', sans-serif;
	color: $mainDarkGray;
    
}


img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: $mainGold;
}

h1{
	font-family: 'Fjalla+One', sans-serif;
}

h2{
	font-family: 'Fjalla+One', sans-serif;
}

h3{
	font-family: 'Fjalla+One', sans-serif;
}

h4{
	font-family: 'Fjalla+One', sans-serif;
}

