.btn {
	background-color: $mainPink;
	color: #FFF;
	padding: 1.1rem 1.4rem;
	margin: 0;
	display: inline-block;
	border-radius: 7px;
	transform: scale(.85);
		
		@mixin atSmall {
			transform: scale(1);
	}
	
	
}