.headline {
	font-size: 1.5rem;	
		color: $mainGold;
		font-weight: 300;
	
	
	&--centered {
		text-align: center;
	}
	
	&--large {
		font-size:2.2rem;
	}
	
	&--b-margin-small {
		margin-bottom: -.5em;
	}
	
	&--blue {
		color: $mainBlue;
	}
	
	
	
}